* {
  box-sizing: border-box;
}
[class*="col"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
/*
div {
  border-style: solid;
  border-width: thin;
  border-color: #fafafa;
}
*/

#header {
  background-color: #ddd5d5;
  height: 50px;
}
#headerOne {
  background-color: #ddd5d5;
  height: 50px;
}


body {
  margin: 0px;
  background-color: #171717;
  
}

a:link { 
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none; 
  color: #ffffff;
}
a:hover { 
  text-decoration: none; 
  color: #bababa;
}
a:active { 
  text-decoration: none; 
  color: white;
}


.place {
  height: 300px;
}
.link1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  font-size: 150%;
}
.headerlink {
  padding: 7%;
  font-family: 'Space Mono', monospace;
  font-size: 150%;
}

.title {
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 200%;
  display: table-cell;
  vertical-align: middle;
  
}
#center {
  height:300px;
  width:100%;
  display:table;
  text-align: center;
}
#about {
  height:300px;
  width:100%;
  display:table;
  text-align: center;
}
* {
  color: white;
}
.aboutText {
  color: white;
  font-family: 'Space Mono', monospace;
  display: table-cell;
  vertical-align: middle;
  
}
#header1 {
  position: sticky;
  top: 0;
  z-index: 1;
}
.shortPlace {
  height: 100px;
}




.title2 {
  background-color: #ddd5d5;
}

.image {
  position:relative;
}
.place2 {
  height: 50vh;

}
ul {
  display: inline-block; 
	text-align: left; 

}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.intro {
  height: 100vh;
}

.intro {
  width:100%;
  display: table;
  text-align: center;
}
#welcome {
  color: white;
  font-family: 'Space Mono', monospace;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 900px) {
  #mobile {
    display: none;
  }
  #mobileList {
    font-size: 70%;
  }
}
@media screen and (max-width: 1525px) {
  #mobile1 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  #aboutMobile {
    margin-top: 10px;
    font-size: 100%;
  }
  #mobileTitle {
    font-size: 70%;
  }
}
@media screen and (max-width: 400px) {
  #githubMobile {
    font-size: 100%;
  }
}
@media screen and (max-width: 400px) {
  #size {
    font-size: 100%;
  }
}
#size {

}
.longPlace {
  height: 30vh;
}
.center {
  height:300px;
  width:100%;
  display:table;
  text-align: center;
}
iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.centerContain {
  height:300px;
  width:100%;
  display:table;
  text-align: center;
}